*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  ul a {
    text-decoration: none;
    display: inline-block;
    padding: 1em 1.5em;
    margin: 15px;
    color: #fff;
    background-color: hsl(179, 80%, 13%);
    border: none;
    outline: none;
    border-radius: 15px;
  }
  ul a:hover {
    background-color: hsl(179, 100%, 30%);
  }

body{
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex: 1;
    /* border-radius: 40px; */
}
main div{
    padding: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    flex-basis: 250px;
    /* height: 400px; */
}
main h2{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    /* line-height: 50px; */
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
}
p{
    color: hsla( 0, 0%, 100%, 0.75);
    /* line-height: 25px; */
    font-size: 15px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 70px;
    border-radius: 10px;
    padding-left: 10px;
    /* text-align: center; */

}
.car{
    padding-top: 10px;
    
}
.first-content{
     background-color: hsl(31, 77%, 52%);
     border-top-left-radius: 8px;
     border-bottom-left-radius: 8px;
     /* padding: 10px;
     width: 100%; */
     
}
.second-content{
   background-color: hsl(184, 100%, 22%);
   /* padding: 10px;
   width: 100%; */
}
.third-content{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* padding: 10px;
    width: 100%; */
}
button{
    border-radius: 30px;
    border: none;
    padding: 0.5em 0.5em;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 10px;
    margin-left: 20px;
    cursor: pointer;

}

button:hover {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    border: 1px solid #fff;
  }

.first-btn{
    color: hsl(31, 77%, 52%);
    
}
.second-btn{
    color: hsl(184, 100%, 22%);

    
}
.third-btn{
    color: hsl(179, 100%, 13%);
}
@media (max-width: 375px){
  main{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 20px auto 20px;
  }
  .first-content{
      border-radius: 20px 20px 0 0;
  }
  .third-content{
    border-radius: 0 0 20px 20px;
  }
}